{% extends 'base.html' %}

{%block content%}
    <h3>{{article.title}}</h3>
    {% if object.photo %}
        <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
    {% endif %}
    <h6>Muharrir {{article.auther}}</h6>
    <p>{{article.body | safe }}</p>
    <footer>
        <h5><a href="{% url 'article_update' article.pk %}">Postni tahrirlash</a> </h5>
        <h5><a href="{% url 'article_delete' article.pk %}">Postni o'chirish</a> </h5>
    </footer>
    <div class="card">
        <div class="card-header">Izohlar</div>
            {% for comment in article.comments.all %}
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment }}</p>
                        <footer class="blockquote-footer">{{ comment.auther }}</footer>
                    </blockquote>
                </div>
            {% endfor %}
        </div>

{%endblock content%}